
.justify-cntr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotted-line{
  border: 1px dashed 
}

.vertical-writing{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 10px;
  border-left: 1px solid #e9e9eb;
  color: #E46D47;
}

.small-text{
  font-size: 10px;
}

.absolute:hover {
  transform: scale(0.9); 
  transition: transform 0.3s ease; 
}
.active{
  height: 34px;
  padding:8px 8px 4px;
  /* background-color: rgba(204, 208, 211, 0.944); */
  border-radius: 100%;
}

/* .absolute {
  z-index: 1;
} */


/* .image:hover  {
  transform: scale(0.9); 
  transition: transform 0.3s ease;
} */